# Python virtual environment
.venv/
venv/
env/
.env
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
*.egg-info/
dist/
build/

# Excel temporary files
~$*.xlsx
~$*.xls

data/BLS_Employment_Wage_oe.data.0.Current
data/BLS_Employment_Wage_oe.series

data/BLS_Employment_Wage_oe.data.1.AllData
